/* Font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&display=swap');
body {
  font-family: 'IBM Plex Sans', sans-serif;
}

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0)
}

/* Nav */

.logo {
  width: 6.5rem;
}

/* navbar links */
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  color: var(--primary-white) !important;
  /* fixes link jumping issue */
  border-top: 3px solid var(--primary-dark); 
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 3px solid var(--primary-orange);
  /* background-color: grey; */
  color: #4fc3f7 !important;
}

.navbar-nav > li > a:hover {
  border-top: 3px solid #4fc3f7;
  color: var(--primary-orange) !important;
}